@namespace BlazorWasmSpiderTouch.Models
@page "/Help"
@layout EmptyLayout

<div class="help">
    <h3>Blazor Spider Solitaire - Help</h3>
    <p>by Richard Bain</p>
    <br />
    <div>
        <span>
            There are several implementations of Spider Solitaire with slightly different rules.  This implementation is most closely patterned on the version by AisleRiot.
        </span><br /><br />
        <span>
            The purpose of this application was to help the author become familiar with the Blazor framework.  It is being shared in hopes that others may benefit from lessons learned.
        </span>
    </div>
    <div>
        <p>References</p>
        <ul>
            <li> <a href="https://help.gnome.org/users/aisleriot/stable/Spider.html.en" target="_blank">Rules from AisleRiot</a> </li>
            <li> <a href="https://blazor.net" target="_blank">Blazor Home Page</a> </li>
            <li> <a href="https://channel9.msdn.com/events/Build/2020/BOD104/?WT.mc_id=learntv-video-learn" target="_blank">MS Build video on Blazor Features</a> </li>
            <li> <a href="https://aka.ms/blazor-carchecker" target="_blank">Source Code from Above Video</a> </li>
            <li> <a href="https://help.gnome.org/users/aisleriot/stable/Spider.html.en" target="_blank">Rules from AisleRiot</a> </li>
            <li> <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">ASP.NET Documentation</a> </li>
            <li> <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-3.0" target="_blank">Introduction to ASP.NET Core Blazor</a> </li>
            <li> <a href="https://chrissainty.com/investigating-drag-and-drop-with-blazor/" target="_blank">Investigating Drag and Drop with Blazor</a> </li>
            <li> <a href="https://github.com/bainr" target="_blank">My GitHub Page</a> </li>
        </ul>
    </div>
</div>