@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <h3>Blazor Spider Solitaire</h3>
        <NavLink href="Help" target="_blank">Help</NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
